@import "slick";
@import "slick-theme";

#logo {
  width: 200px;
  height: 30px;
}
.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before,
.slick-next::before {
  color: #000;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -5px;
}

.rollerdex {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.index-item {
  height: 150px;
  width: 200px;
  margin: 10px;
  background-color: rgba(244, 161, 66, 0.5);
}

.index-item h3 {
  display: inline;
  // background-color: rgba(255, 255, 255, 0.6);
}

.index-item h6 {
  display: block;
}

.item-info {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 100px solid rgba(255, 255, 255, 0.2);
}
